
        <a href='javascript:ajax_call("manage_sites.php?action=add_site_page", "Add Site")'>Add a new site</a><br>
        <br>
        <table border=1 cellpadding="0" cellspacing="0" bordercolor="#000000">
          <tr bgcolor="#333333" class="header">
            <th>Id</th>
            <th>Name</th>
            <th>Mainurl</th>
          </tr>
  {foreach item=s from=$sites}
  <tr bgcolor="#999999">
    <td>{$s->getId()}<br>
        <font size=1>[ <a href='javascript:ajax_call("manage_sites.php?action=add_site_page&id={$s->getId()}", "Edit Site")'>EDIT</A> | <a href='javascript:ajax_call("manage_sites.php?action=delete_site&id={$s->getId()}", "Delete Site")' onclick="return confirm('are you sure you want to delete this site?')">DEL</A>]</font></TD>
    <td>{$s->getName()}</td>
    <td>{$s->getMainURL()}</td>
  </tr>
  {/foreach}
        </table>
        