
        <form method=post action="javascript:ajax_post('manage_config.php', document.forms['saveconfig'])" name="saveconfig">
          <input type=hidden name=action value=edit>
          <input type=hidden name=id value='{$id}'>
          <TABLE border="0">
            <TR>
              <td align="right">Name:&nbsp;</td>
              <td><INPUT type=text name=name value='{$name}'></td>
            </tr>
            <tr>
              <td align="right">Value:&nbsp;</td>
              <td><input type=text name=value value='{$value}'>
                    <tr>
                      <td align="right">Description:&nbsp;</td>
                      <td><INPUT type="text" name="description" value="{$description}" size="50"></td>
                    </tr>
          </TABLE>
          <input type=submit>
        </form> <br>
  