
        <form action="javascript:ajax_post('manage_sites.php', this.form)" name="myform">
          <input type=hidden name=action value=add_site>
          <input type=hidden name=id value='{$site->getId()}'>
          <h3>Add a new site</h3>
          <table>
            <tr>
              <td align="right">Name:&nbsp;</td>
              <td><input type=text name=name value='{$site->getName()}'></td>
            </tr>
            <tr>
              <td align="right">Description:&nbsp;</td>
              <td><input type=text name=description value='{$site->getDescription()}'></td>
            </tr>
            <tr>
              <td align="right">Main URL:&nbsp;</td>
              <td><input type=text name=mainurl value='{$site->getMainURL()}'></td>
            </tr>
            <tr>
              <td align="right">Members URL:&nbsp;</td>
              <td><input type=text name=membersurl value='{$site->getMembersURL()}'></td>
            </tr>
            <tr>
              <td align="right">Join URL:&nbsp;</td>
              <td><input type=text name=joinurl value='{$site->getJOinURL()}'></td>
            </tr>
            <tr>
            	<td align="right">Status&nbsp;</td>
            	<td><select name="status">{html_options values=$statuss output=$statuss selected=$site->getStatus()}</select></td>
            </tr>
            <input type=submit>
   
          </table>
        </form>
        <h3><br>
        </h3>
      </div>
     
