

<h3 align="center">List Scales</h3>


	<div align="center">
	  <form method="javascript:ajax_post('manage_scale.php', document.forms['savescales'])" name="savescales">
	  <input type=hidden name=action value='save_scale'>
	  <input type=hidden name=affiliate_id value='{$affiliate_id}'>
	  <input type="hidden" name="id" value="">
	  
	<select name='program_id' onchange="ajax_call('manage_scale.php?action=ajax_list_scales&affiliate_id={$affiliate_id}&program_id=' + this.options[this.selectedIndex].value);">
      

{html_options values=$program_ids selected=$program_id output=$program_names}

    </select> Scale for <font color="#FFCC00">{$affiliate_id}</font>
	
    <div id="scales">
    <!-- guess i cant initiate js from ajax being set as document.innerHTML so i'll hard code ajax_list_scales.html right here too-->
    <table border=1 cellpadding="0" cellspacing="0" bordercolor="#000000"  bgcolor=#666666>
	<tr bgcolor="#333333"><th><font color="#FFFFCC">Percentage</font></th>
	<th><font color="#FFFFCC">Signups</font></th>
	<th><font color="#FFFFCC">Price Per Hit</font></th>
	<th><font color="#FFFFCC">Price Per Signup</font></th>
	<th><font color="#FFFFCC">Price Reduced Per Cancel</font></th>
	<th><font color="#FFFFCC">Price Reduced Per Chargeback</font></th>
	<th>Action</th>
	</tr>
	
	{foreach item=s from=$scales}
		<input type=hidden name=id_{$s->id} value={$s->id}>
		<tr id="static_scale_{$s->id}" style="visibility: visible;">
		<td bgcolor=#999999>{$s->getPercentage()}</td>
		<td bgcolor=#999999>{$s->getSignups()}</td>
		<td bgcolor=#999999>{$s->getPricePerHit()}</td>
		<td bgcolor=#999999>{$s->getPricepersignup()}</td>
		<td bgcolor=#999999>{$s->getPricereducedpercancel()}</td>	
		<td bgcolor=#999999>{$s->getPricereducedperchargeback()}</td>	
		<td><a href="javascript:edit_scale('{$s->id}')">Edit</a></td>
		</tr>
		<tr id="scale_{$s->id}" style="visibility: hidden; display: none">
		<td bgcolor=#999999><input type=text name=percentage_{$s->id} value='{$s->getPercentage()}'></td>
		<td bgcolor=#999999><input type=text name=signups_{$s->id} value='{$s->getSignups()}'></td>
		<td bgcolor=#999999><input type=text name=priceperhit_{$s->id} value='{$s->getPricePerHit()}'></td>
		<td bgcolor=#999999><input type=text name=pricepersignup_{$s->id} value='{$s->getPricepersignup()}'></td>
		<td bgcolor=#999999><input type=text name=pricereducedpercancel_{$s->id} value='{$s->getPricereducedpercancel()}'></td>	
		<td bgcolor=#999999><input type=text name=pricereducedperchargeback_{$s->id} value='{$s->getPricereducedperchargeback()}'></td>	
		<td><a href="javascript:save_scales('{$s->id}', document.forms['savescales'])">Save</a> | <a href="javascript:cancel_save_scales('{$s->id}')">Cancel</a> | <a href="javascript:if(confirm('You sure you want to delete?'))delete_scale('{$s->id}', '{$affiliate_id}', document.forms['savescales'].program_id.options[document.forms['savescales'].program_id.selectedIndex].value)">Delete</a></td>
		</tr>
	{/foreach}
		<tr id="static_scale_new">
		<td colspan="7"><a href="javascript:edit_scale('new')">Add New Scale</a></td>
		</tr>
		<tr id="scale_new" style="visibility: hidden;">
		<td bgcolor=#999999><input type=text name=percentage_new ></td>
		<td bgcolor=#999999><input type=text name=signups_new ></td>
		<td bgcolor=#999999><input type=text name=priceperhit_new ></td>
		<td bgcolor=#999999><input type=text name=pricepersignup_new ></td>
		<td bgcolor=#999999><input type=text name=pricereducedpercancel_new ></td>	
		<td bgcolor=#999999><input type=text name=pricereducedperchargeback_new ></td>	
		<td><a href="javascript:save_scales('new', document.forms['savescales'])">Save</a> | <a href="javascript:cancel_save_scales('new')">Cancel</a> </td>
		</tr>
    </table>
    
    <!-- end ajax part -->
    </div>
    
   
	<br>
	<Br>
	<br>
	<br>
	<a name='description'></a>
	ok, you can techncially pay out by conversion ratio or based on number of signups. currently the system is only set up to 
	pay out on number of signups. so make sure that for percentage you always put a 0.
	make sure you fill out every feidl as well.
	now the way this works is that if you want to pay $20 per signup for up to 10 signups then you want to pay $25 per sign up from 11 signups to 31 signups, then 31+ signups you want to pay $35 per signup you would do it like this:
	<br>
	the first entry you would put 10 in the signups box and 20 in the persignup box. this means that 0-10 signups will pay $20 per signup.<br>
	then you would make a second entry and put 31 in the signups box and 25 in teh per signup box.<br>
	then you would make another entry but put a large number like 999999999 for signups and put 35 in the pay per signup box. this means that signups 32 till 999999999 signups will pay 35 per signup
	
  
