<div align=left>
{foreach key=id item=conf from=$configvars}
  <table border=0 cellpadding="0" cellspacing="0">
    <tr>
      <td align="right">Name:&nbsp;</td>
      <td><font color="#000000">{$conf.name}</font> [ <a href="javascript:ajax_call('manage_config.php?action=edit_page&id={$id}', 'Edit Config')">EDIT</A> ]</td>
    </tr>
    <tr>
      <td align="right">Value:&nbsp;</td>
      <td><font color="#000000">{$conf.value}</font></td>
    </tr>
    <tr>
      <td align="right">Description:&nbsp;</td>
      <td><font color="#000000">{$conf.description}</font></td>
    </tr>
  </table>
  {/foreach} <br>
  <br>
  </div>
  