
      <div align="center">
      <form method="post" action="javascript:ajax_post('manage_affiliates.php', document.forms['savewebmaster'])" name="savewebmaster">
<input type=hidden name=action value=save_webmaster>
<span class="header">{$error}</span>
<br>
<br>
<table border=0>
<input type=hidden name=webmaster_id value="{$webmaster_id}">
<tr><td>First Name</td><td><input type=text name=firstname value='{$firstname}'></td></tr>
<tr><td>Last Name</td><td><input type=text name=lastname value='{$lastname}'></td></tr>
<tr><td>Street Address</td><td><input type=text name=street_address value='{$street_address}'></td></tr>
<tr><td>City</td><td><input type=text name=city value='{$city}'></td></tr>
<tr><td>State</td><td><input type=text name=state value='{$state}'></td></tr>
<tr><td>Postal Code</td><td><input type=text name=postal_code value='{$postal_code}'></td></tr>
<!--<tr><td>Country</td><td><input type=text name=country value='{$country}'></td></tr>-->
<tr><td>Country</td><td><select name=country >{html_options options=$countries selected=$country}</select></td></tr>
<tr><td>Email</td><td><input type=text name=email value='{$email}'></td></tr>
<tr><td>SSN/Tax Id</td><td><input type=text name=ssn_taxid value='{$ssn_taxid}'></td></tr>

<tr><td>Aim</td><td><input type=text name=aim value='{$aim}'></td></tr>
<tr><td>ICQ</td><td><input type=text name=icq value='{$icq}'></td></tr>
<tr><td>Company</td><td><input type=text name=company value='{$company}'></td></tr>
<tr><td>Pay To</td><td><input type=text name=pay_to value='{$pay_to}'></td></tr>
<tr><td>Minimum Payout</td><td><input type=text name=minimum_payout value='{$minimum_payout}'></td></tr>
<tr><td>Payment Method</td><td><SELECT name=payment_method>{html_options options=$payment_methods selected=$payment_method}</select></td></tr>
<tr><td>Referral Percent</td><td><input type=text name=referral_percent value='{$referral_percent}'></td></tr>
<tr><td>Referral Amount</td><td><input type=text name=referral_amount value='{$referral_amount}'></td></tr>
<tr><td>Referred Webmaster ID</td><td><input type=text name=referred_webmaster_id value='{$referred_webmaster_id}'></td></tr>
<tr><td>ePassporte ID</td><td><input type=text name=udf1 value='{$udf1}'></td></tr>
<tr><td>Notes</td><td><textarea name=notes>{$notes}</textarea></td></tr>



</table>
{$wirelink}<BR>

{foreach key=aid item=aff_login from=$affiliate_ids}
<table border=1 cellpadding="0" cellspacing="0">
<tr bgcolor="#333333"><th colspan=2 class="header">Affiliate ID {$aid}</th></tr>
<tr bgcolor="#999999"><td>Username</td><td><input type=text name=username_{$aid} value='{$aff_login.username}'></td></tr>
<tr bgcolor="#999999"><td>Password</td><td><input type=text name=password_{$aid} value='{$aff_login.password}'></td></tr>
<tr bgcolor="#999999"><td>Rating</td><td><input type=text name=rating_{$aid} value='{$aff_login.rating}'></td></tr>
<tr bgcolor="#999999"><td>Status</td><td><SELECT name=status_{$aid}>{html_options options=$affiliate_statuss selected=$aff_login.status}</td></tr>
<tr><td colspan=2>{$aff_login.scale_text}</td></tr>
</table>
{/foreach}
<input type=submit>
<
