<link href="../affiliates.css" rel="stylesheet" type="text/css">



      <div align="center">
        <h3 align="center">Payout Submit for date ending {$end_date} <br>
Print this for your records of paying out before you click on the submit payout button <br>
</h3>
<form action="javascript:ajax_post('payout.php', document.forms['statsdate'])" name = "statsdate">
  <table width="600" border="0" align="center">
    <tr>
      <td align="center">
        <br>
        <b><font face="Arial, Helvetica, sans-serif" size="2">Stats by Range<br>
        </font></b>
        {html_select_date prefix="start" time=$start_date start_year=2005}
        to
                {html_select_date prefix="end" time=$end_date start_year=2005}
        <br>
        <input type="submit" name="Submit22" value="View Stats">
                <input type="hidden" name="t" value="{$t}">
      </td>
    </tr>
  </table>
</form>
        <form method=post action="javascript:ajax_post('payout.php', document.forms['payoutsubmit'])" name="payoutsubmit">
          <div align="center">
            <input type=hidden name=action value=payout_submit>
            <input type=hidden name=end_date value="{$end_date}">
            <input type=hidden name=start_date value="{$start_date}">
            <table border=1 cellpadding="0" cellspacing="0" bordercolor="#000000">
              <tr bgcolor="#333333" class="header">
                <th>Affiliate id</th>
                <th>Info</th>
                
                <th>Payout Method</th>
                
                <th>Period Income</th>
                <th>Rollover Income</th>
                <th>Total Income</th>
              </tr>
      {foreach key=p item=payout from=$payouts}
      <tr bgcolor="#999999">
        <td>{$payout.affiliate_id}</td>
        
        <td>{$payout.pay_to}<br>
        C/O {$payout.firstname} {$payout.lastname}<br>
        {$payout.street_address}<br>
        {$payout.city}, {$payout.state}  {$payout.postal_code}<br>
        {$payout.country}
        
        </td>
        <td>{$payout.payout_method}</td>
        
        <td>${$payout.current_income}</td>
        <td>${$payout.rollover_income}<br/><a href="javascript:paid_confirm('affiliate_id={$payout.affiliate_id}&end_date={$start_date}', 'Rollover', '{$start_date}', '{$payout.pay_to}')">Already Paid</a></td>
        <td>${$payout.income}<br/><a href="javascript:paid_confirm('affiliate_id={$payout.affiliate_id}&end_date={$end_date}', 'All', '{$end_date}', '{$payout.pay_to}')">Already Paid</a></td>
      </tr>
      {/foreach}
            </table>
            <br>
            <input type=submit value="Submit these payouts as paid">
          </div>
        </form>
        <br>

        <form method=post>
        <input type=hidden name=action value=payout_iif>
        <input type=hidden name=end_date value="{$end_date}">
        <input type=hidden name=start_date value="{$start_date}">
        <input type=submit value="Export to Quickbooks IIF">
        </form>
        <br>

        </div>
      