

      <div align="center">
 <form method=post action="javascript:ajax_post('stats_by_affiliate.php', document.forms['dateform'])" name="dateform">
  <table width="600" border="0" align="center">
    <tr> 
      <td align="center">
        <br>
        <b><font face="Arial, Helvetica, sans-serif" size="2">Stats by Range</font></b> 
        {html_select_date prefix="start" time=$begin_date start_year="-5"}
        to 
		{html_select_date prefix="end" time=$end_date start_year="-5"}
        <input type="submit" name="Submit22" value="View Stats">

      </td>
    </tr>
  </table>
  </form>
  

 </form>

  <table border=1 cellpadding="0" cellspacing="0" bordercolor="#000000">
  <tr align="center" bgcolor="#333333" class="header"><th>Affiliate Id</th>
  <th>Hits</th>
  <th>Uniques</th>
  <th>Signups</th>
  <th>Cancels</th>
  <th>Chargebacks</th>
  <th>Renewals</th>
  <th>Affiliate Income</th>
  </tr>
  
  {foreach key=affiliate_id item=stats from=$stats_by_affiliate}
  <tr align="center" bgcolor="#999999">
  <td>{$affiliate_id}</td>
  <td>{$stats.hits}</td>
  <td>{$stats.uniques}</td>
  <td>{$stats.signups}</td>
  <td>{$stats.cancels}</td>
  <td>{$stats.chargebacks}</td>
  <td>{$stats.renewals}</td>
  <td>{$stats.income}</td>
  </tr>
  {/foreach}
  </table>
   
