{literal}<style type="text/css">
<!--
-->
</style>
<link href="../affiliates.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.text {font-size: 9px}
a:link {
	color: #FFFFCC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFFCC;
}
a:hover {
	text-decoration: underline;
	color: #999999;
}
a:active {
	text-decoration: none;
	color: #FFFFCC;
}
.style2 {
	color: #FFFFCC;
	font-weight: bold;
}
.earnedincome {color: #FFCC00}
-->
</style>{/literal}
  <tr>
    <td valign="top"><table width="639" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr align="center">
        <td colspan="3"><div align="center">
          <p><img src="../images/headertemplate.gif" width="463" height="74"><br>
            <br>
          <img src="../images/longhorizline.gif" width="637" height="1"></p>
          </div></td>
      </tr>
      <tr>
        <td colspan="3" align="center" valign="top" nowrap><p><br>
