		{include file="headeraff.html"}
		<TR>
          <TD vAlign=top width=796 bgColor=#ffffff>
			<div class="wraper">
				<div class="languages">
					<p align="center">&nbsp;</div>
			</div>
            <TABLE cellSpacing=0 cellPadding=0 border=0>
              <TBODY>
              <TR>
                <TD width=8></TD>
                <TD vAlign=top width="150">
				<table border="0" width="100%" id="table163">
					<tr>
						<td align="center">
						<img border="0" src="/templates/images/reasons.gif" width="150" height="20"></td>
					</tr>
					<tr>
						<td>
						<li>Professional stats</li><br>
						<li>No shave</li><br>
						<li>Up to 45 per free join<br>
						<li>Up to 35 on console free<br>
						<li>Payouts twice a month<br>
						<li>High converting sites<br>
						<li>Superior processing<br>
						</td>
					</tr>
					<tr>
						<td>
						&nbsp;<table border="0" width="100%" id="table164">
									<tr>
										<td>
										<p align="center">
								<IMG height=20 alt="" 
                                src="/templates/images/top.gif" width=150 
                                border=0 align="center"></td>
									</tr>
								</table>
								<p><font color="#0080C1">1. Camxxxspot<BR><BR 
                                style="LINE-HEIGHT: 4px"><IMG height=1 alt="" 
                                src="/templates/index_files/hr2.gif" width=153 
                                border=0><BR><BR style="LINE-HEIGHT: 4px">2. 
								Freelifetimeteens<BR><BR 
                                style="LINE-HEIGHT: 4px"><IMG height=1 alt="" 
                                src="/templates/index_files/hr2.gif" width=153 
                                border=0><BR><BR style="LINE-HEIGHT: 4px">3. 
								Myfreelifetimeporn<BR><BR 
                                style="LINE-HEIGHT: 4px"><IMG height=1 alt="" 
                                src="/templates/index_files/hr2.gif" width=153 
                                border=0><BR><BR style="LINE-HEIGHT: 4px">4. 
								Freelifetimelatins<BR><BR 
                                style="LINE-HEIGHT: 4px"><IMG height=1 alt="" 
                                src="/templates/index_files/hr2.gif" width=153 
                                border=0><BR><BR style="LINE-HEIGHT: 4px">5. 
								Freelifetimeasians</font><p>&nbsp;</td>
					</tr>
				</table>
					<table border="0" width="100%" id="table165">
						<tr>
							<td align="center">
							<img border="0" src="/templates/images/sitessoon.gif" width="150" height="20"></td>
						</tr>
						<tr>
							<td align="center">
							<p align="left"><font color="#0080C1">1. 
							XXXcelebritypass<BR><BR 
                                style="LINE-HEIGHT: 4px"><IMG height=1 alt="" 
                                src="/templates/index_files/hr2.gif" width=153 
                                border=0><BR><BR style="LINE-HEIGHT: 4px">2. 
								Twatlickingteens<BR><BR 
                                style="LINE-HEIGHT: 4px"><IMG height=1 alt="" 
                                src="/templates/index_files/hr2.gif" width=153 
                                border=0><BR><BR style="LINE-HEIGHT: 4px">3. 
								Unsatisfiedhousewives</font></td>
						</tr>
					</table>
				</TD>
                <TD width=8></TD>
                <TD vAlign=top>
                  <TABLE id=bigbox1 cellSpacing=0 cellPadding=0 width=629 
                  border=0>
                    <TBODY>
                    <TR>
                      <TD><IMG height=6 alt="" 
                        src="/templates/index_files/big_box_01.gif" width=6></TD>
                      <TD><IMG height=6 alt="" 
                        src="/templates/index_files/big_box_02.gif" width=617></TD>
                      <TD><IMG height=6 alt="" 
                        src="/templates/index_files/big_box_03.gif" width=6></TD></TR>
                    <TR>
                      <TD width=6 background=/templates/index_files/big_box_04.gif>&nbsp;</TD>
                      <TD vAlign=top>
                        <font face="Arial, Helvetica, sans-serif">
  <b><font size="2">Campaign Summary for {$begin_date} - {$end_date}</font></b><br>
  <span class="earnedincome"><b><font size="3">Total Earned: ${$income}</font></b></span></font><br>
  <br>

        <table width="600" border="1" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" bordercolor="#000000" align="center" id="table166">
    <tr>
      <td bgcolor="#E7581E">



        <div align="center" class="style2"><strong><font face="Arial, Helvetica, sans-serif" size="3" color="white" ><b>
          Summary</b></font></strong></div>
      </td>
    </tr>
  </table>
  <table width="600" border="1" cellspacing="0" cellpadding="0" align="center" height="50" bordercolor="#000000" id="table167">
    <tr align="center" bgcolor="#333333">
      <td width="120" bgcolor="#3A6D9E">
        <div align="center"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Hits</font></b></div>
      </td>
      <td width="120" bgcolor="#3A6D9E">
        <div align="center"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Uniques</font></b></div>
      </td>
      <td width="120" bgcolor="#3A6D9E">
        <div align="center"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Signups</font></b></div>
      </td>
      <td width="120" bgcolor="#3A6D9E">
        <div align="center"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Ratio</font></b></div>
      </td>
    </tr>
    <tr align="center" bgcolor="#999999">
      <td width="120" bgcolor="#FFFFFF">
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">{$hits}</font></div>
      </td>
      <td width="120" bgcolor="#FFFFFF">
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">{$uniques}</font></div>
      </td>
    

      <td width="120" bgcolor="#FFFFFF">
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">{$signups}</font></div>
      </td> 
      <td width="120" bgcolor="#FFFFFF">
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">{$ratio}</font></div>
      </td>

    </tr>
  </table>
  <br>
  <br>
  <br>
  <table width="600" border="1" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" bordercolor="#000000" align="center" id="table168">
    <tr>
      <td bgcolor="#E7581E">
        <div align="center" class="style2">
			<font size="2" color="white" face="Arial, Helvetica, sans-serif">Campaign Statistics
          by Date</font></div>
      </td>
    </tr>
  </table>

<table width="600" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000" align="center" id="table169">
  <tr bgcolor="#333333">

      <td width="225" align="center" bgcolor="#3A6D9E"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Date</font></b></td>
      <td width="225" align="center" bgcolor="#3A6D9E"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Campaign</font></b></td>
      <td width="75" align="center" bgcolor="#3A6D9E"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Hits</font></b></td>
      <td width="75" align="center" bgcolor="#3A6D9E"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Uniques</font></b></td>
      <td width="65" align="center" bgcolor="#3A6D9E"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Signups</font></b></td>
      <td width="65" align="center" bgcolor="#3A6D9E"><b><font face="Arial, Helvetica, sans-serif" size="2" color="white">Ratio</font></b></td>
    </tr>
        {foreach name=outer2 key=date item=stats from=$campaign_stats}
    <tr bgcolor="#999999">
      <td width="225" height="19" align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="2">
		<a href='templates/stats_by_refurl.php?date={$stats.date}'>{$stats.date}</a></font></td>
      <td width="75" height="19" align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="2">{$stats.sub_id}</font></td>
      <td width="75" height="19" align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="2">{$stats.hits}</font></td>
      <td width="75" height="19" align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="2">{$stats.uniques}</font></td>
      <td width="65" height="19" align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="2">{$stats.signups}</font></td>
      <td width="65" height="19" align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="2">{$stats.ratio}</font></td>
    </tr>
    {/foreach}

  </table>
  <br>
  <br>
<form action=templates/subid_stats.php>
  <table width="600" border="0" align="center" id="table170">
    <tr>
      <td align="center">
        <br>
        <b><font face="Arial, Helvetica, sans-serif" size="2">Stats by Range<br>
        </font></b>
        {html_select_date prefix="start" time=$begin_date start_year=2005}
        to
                {html_select_date prefix="end" time=$end_date start_year=2005}
        <br>
        <input type="submit" name="Submit22" value="View Stats">
                <input type="hidden" name="t" value="{$t}">
      </td>
    </tr>
  </table>
</form>
  						<p>&nbsp;</TD>
                      <TD width=6 background=/templates/index_files/big_box_06.gif><IMG 
                        alt="" src="/templates/index_files/big_box_06.gif" width=6></TD></TR>
                    <TR>
                      <TD><IMG height=6 alt="" 
                        src="/templates/index_files/big_box_07.gif" width=6></TD>
                      <TD><IMG height=6 alt="" 
                        src="/templates/index_files/big_box_08.gif" width=617></TD>
                      <TD><IMG height=6 alt="" 
                        src="/templates/index_files/big_box_09.gif" 
                  width=6></TD></TR></TBODY></TABLE></TD>
                  {include file="footeraff.html"}