{literal}
<link href="../affiliates.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.login {font-size: 9px}
-->
</style>
{/literal}
<form action=? method=post><table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="639" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="5"><img src="../images/header.gif" width="478" height="91"><img src="../images/upperright.gif" width="159" height="91"></td>
      </tr>
      <tr>
        <td width="163" align="center" valign="top" nowrap><p><br>
            <a href="../"><img src="../images/howdoesitwork.gif" width="162" height="31" border="0"></a><a href="../"><img src="../images/getstarted.gif" width="162" height="29" border="0"></a><img src="../images/webmastersignup02.gif" width="162" height="28"><a href="../termsofuse.php"><img src="../images/termsofuse.gif" width="162" height="27" border="0"></a><a href="mailto:tdecourson@0x7a69.net"><img src="../images/contactus.gif" width="162" height="28" border="0"></a><a href="../login.php"><img src="../images/webmasterlogin.gif" width="162" height="28" border="0"></a><a href="../index.php"><img src="../images/home.gif" width="162" height="26" border="0"></a><br>
          <br>
          </p>
          </td>
        <td width="1" rowspan="4" nowrap background="../images/verticalbarbg.gif"></td>
        <td width="345" rowspan="4" align="center" valign="top" nowrap><div align="center"><br>
            <div align="center">
              <input type=hidden name=action value=add_webmaster>
              <span class="errortext">{$error}</span><br>
            </div>
            <table border=0 align="center">
              <tr>
                <td align="right">First Name:&nbsp;</td>
                <td><input type=text name=firstname value='{$firstname}'></td>
              </tr>
              <tr>
                <td align="right">Last Name:&nbsp;</td>
                <td><input type=text name=lastname value='{$lastname}'></td>
              </tr>
              <tr>
                <td align="right">Street Address:&nbsp;</td>
                <td><input type=text name=street_address value='{$street_address}'></td>
              </tr>
              <tr>
                <td align="right">City:&nbsp;</td>
                <td><input type=text name=city value='{$city}'></td>
              </tr>
              <tr>
                <td align="right">State:&nbsp;</td>
                <td><input type=text name=state value='{$state}'></td>
              </tr>
              <tr>
                <td align="right">Postal Code:&nbsp;</td>
                <td><input type=text name=postal_code value='{$postal_code}'></td>
              </tr>
              <tr>
                <td align="right">Country:&nbsp;</td>
                <td><input type=text name=country value='{$country}'></td>
              </tr>
              <tr>
                <td align="right">Email:&nbsp;</td>
                <td><input type=text name=email value='{$email}'></td>
              </tr>
              <tr>
                <td align="right">SSN/Tax Id:&nbsp;</td>
                <td><input type=text name=ssn_taxid value='{$ssn_taxid}'></td>
              </tr>
              <tr>
                <td align="right">Username:&nbsp;</td>
                <td><input type=text name=username value='{$username}'></td>
              </tr>
              <tr>
                <td align="right">Password:&nbsp;</td>
                <td><input type=text name=password value='{$password}'></td>
              </tr>
              <tr>
                <td align="right">Aim:&nbsp;</td>
                <td><input type=text name=aim value='{$aim}'></td>
              </tr>
              <tr>
                <td align="right">ICQ:&nbsp;</td>
                <td><input type=text name=icq value='{$icq}'></td>
              </tr>
              <tr>
                <td align="right">Company:&nbsp;</td>
                <td><input type=text name=company value='{$company}'></td>
              </tr>
              <tr>
                <td align="right">Pay To:&nbsp;</td>
                <td><input type=text name=pay_to value='{$pay_to}'></td>
              </tr>
            </table>
            <div align="center">
              <input type=hidden name=referred_webmaster_id value='{$referred_webmaster_id}'>
              <input type=submit></form>
            </div>
            <br>
        </div></td><td width="1" rowspan="4" nowrap background="../images/verticalbarbg.gif"></td>
        <td width="129" rowspan="4" valign="top" nowrap></td>
      </tr>
      <tr>
        <td align="right" valign="top" nowrap><img src="../images/lefthorizbar.gif" width="162" height="1"></td>
      </tr>
      <tr>
        <td align="center" valign="top" nowrap><br>
          <table width="47%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="47%" align="right"><span class="login">USERNAME:&nbsp;</span></td>
            <td width="53%" colspan="2" align="left">              <input name="textfield" type="text" size="10">
              <span class="login"> </span></td>
          </tr>
          <tr>
            <td align="right"><span class="login">PASSWORD:&nbsp;</span></td>
            <td colspan="2" align="left"><span class="login">
              <input name="textfield" type="password" size="10">
            </span></td>
          </tr>
          <tr align="right">
            <td colspan="3"><input name="submit" type="image" src="../images/login.gif" width="56" height="27" border="0">              &nbsp;&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="325" align="right" valign="top" nowrap><span class="login"><img src="../images/lefthorizbar.gif" width="162" height="1"></span></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="bottom"><div align="center"><FONT face=Arial,Helvetica,sans-serif color=white size=1><br> 
    &copy; Copyright 2001 - 2004 0x7A69 Technologies. All Rights Reserved. </FONT></div></td>
  </tr>
</table>


